img {
  height: 200px;
}

.description {
  margin: 50px;
  background: $light-gray;
}

.header-flat {
  background: white;
}

h1 {
  font-size: 18px;
  margin-top: 0;
}

.small_banner {
  width: 100%;
}
