<%= partial "layouts/navbar" %>

<!-- <div class= "team-banner">

</div> -->

<!-- <div class="about-content">
  <h1>This page is made with love</h1>

<ul class="list-inline">
  <li>
<img src="images/logo.png" alt="">
<h2>Stefan Wörner</h2>
<p>Hier findet ihr tolle Infos</p>
  </li>

</ul>
</div>
 -->

<ul class="list-inline text-center">
  <% ["swoerner", "hilsenrath"].each do |gh_username| %>
    <li>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{gh_username}", class: "img-circle" %>
      <h3><%= gh_username.capitalize %></h3>
    </li>
  <% end %>
</ul>

<%= partial "layouts/footer" %>
